<div>
    <form #miFormulario="ngForm" (ngSubmit)="login(miFormulario)">
        <div class="form-group col-md-3">
            <input type="email" name="email" placeholder="Email" class="form-control" ngModel>
        </div>
        <div class="form-group col-md-3 mt-2">
            <input type="password" name="password" placeholder="Password" class="form-control" ngModel>
        </div>
        <div>
            <button class="btn btn-primary mt-3" type="submit">Login</button>
        </div>

    </form>
</div>
