<div class="container">
  <div class="row">
    <div class="column">
      <div>
        {{indice+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}}
        {{empleadoDeLista.salario}}
        
        <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'1'}" id="a1">
          ACTUALIZA
        </a>
        <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'2'}" id="a2">
          ELIMINA
        </a>
      </div>

      <app-caracteristicas-empleado-c
        (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
      <ul style="list-style: none;">
        <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
      </ul>
    </div>
  </div>
</div>