#columna {
    text-align: center;
}

#button {
    margin-top: 25px;
}


.container{
    flex-direction: row;
    justify-content: flex-end;
}

#login {
    margin-right: 15px;
    background-color: rgb(5, 5, 243);
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    width: 80px;
    height: 40px;
    font-weight: bold;

}
#logout {
    background-color:darkred;
    color: blanchedalmond;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    width: 80px;
    height: 40px;
    font-weight: bold;
}
